/* -----------------left side ---------------- */

.Menu-data {
  display: flex;
  justify-content: space-evenly;
}

.about_restaurant {
  position: sticky;
  height: fit-content;
  top: 30vh;
}

.about_restaurant #restaurant,
#welcome {
  position: relative;
  top: 15vh;
  z-index: 10;
}

.about_restaurant #restaurant {
  font-size: 3rem;
}

.about_restaurant #welcome {
  font-size: 1rem;
}

.about_restaurant #RestaurantImg {
  width: 80%;
  position: relative;
  top: -20vh;
  left: 23vh;
  /* transform: rotate(90deg); */
  mask-image: linear-gradient(to right, transparent 5%, black 65%);
  border-radius: 20%;
  z-index: -1;
}

/*--------------- Right side----------------- */


.Menu-items h1 {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 2vh auto;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vh 0;
}

.items #FoodImg {
  width: 10vw;
  border-radius: 20%;
  margin: 15px;
}

.items .item-name {
  font-size: 1.5rem;
  font-weight: 700;
  list-style-type: none;
  max-width: 15vw;
}

.item-details li {
  list-style-type: disc;
  font-weight: 200;
  font-size: 1.2rem;
}
