/* *{
   box-sizing: ;
} */

/* ----------- Header ------------------- */
.header {
    /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;

}

.header .Title{
    text-decoration: none;
    margin: 0px 2vw;
    padding: 0;
}

.header .Title #title{
    font-size: 5vh;
}

.header ul{
    /* border: 2px solid red; */
    display: flex;
    justify-content:center;
    margin: 1vw 3vw;

}

.header ul li{
    font-size: 1.2em;
    list-style-type: none;
    margin: 1vw;
    color: #ff7070d1;
}

.header ul a{
    text-decoration: none;
}

/* ---------------SEARCH BAR ------------------------- */
.SearchBar{
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
}

.SearchBar .searchInput{
    background: #fed7d79e;
    width: 100%;
    border-radius: 20px;
    border: none;

}

.SearchBar button{
    position:absolute;
    left: 45vh;
    top: 15.6vh;
    width: 6vw;
    height: 4vh;
    border-radius: 15px;
    border: none;
    background: #00000000;
}

/* -------------------Body-------------------------- */

.cards-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.card{
    /* border: 2vh solid red; */
    margin: 3vh;
    padding: 1.5vw;
    width: 15vw;
    background: #e8dfdfbd;
    border-radius: 30px;
    
}

.card #FoodImg{
    width: 100%;
    border-radius: 25px;
}

/* ----------shimmer CSS------------- */
.shimmer-cardContainer{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.shimmer-Card{
    /* border: 2px solid red; */
    margin: 3vh;
    padding: 1.5vw;
    width: 15vw;
    height: 60vh;
    background: linear-gradient(45deg,rgb(135, 135, 135),white);
    border-radius: 20px;
}

/* ------------ error------------------------ */
.error{
    height:90vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.error-text h1{
    font-size:4rem;
    color: #434343;
}

.error-text h2{
    font-size: 1.5rem;
    color: #535353;
}

.error #sad-emojee{
    width: 50vh;
    top: auto;
}


